.best-products {
  grid-area: bestproducts;
}

.best-products h2 {
  color: #4fa3e2;
  text-align: center;
  margin: 20px 0;
}

.best-products .products-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1129px) {
  .best-products .products-flex .best-card {
    width: 31%;
  }
}

@media (max-width: 900px) {
  .best-products .products-flex .best-card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .best-products .products-flex .best-card {
    width: 100%;
  }
}
