.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.filter h2 {
  text-align: center;
  color: rgb(167, 131, 218);
}

.filter .filter-box {
  display: flex;
  padding: 30px 60px;
  border-radius: 30px;
  box-shadow: 0px 5px 11px 9px rgba(173, 210, 253, 1);
}

.filter .filter-box .filter-form {
  display: flex;
}

.filter .filter-box .filter-form .filter-flex {
  display: flex;
  flex-wrap: wrap;
}
.btnClass {
  width: 80px;
  height: 55px;
}

.input {
  width: 180px;
}

@media (max-width: 760px) {
  .filter .filter-box .filter-form .filter-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .input {
    width: 100%;
  }

  .filter .filter-box .filter-form {
    display: block;
  }
}
