.mobile-search {
  display: none;
}

.main-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    " . currencies currencies carousel carousel carousel carousel . "
    " . weather weather carousel carousel carousel carousel . "
    "sliderproducts sliderproducts sliderproducts sliderproducts sliderproducts sliderproducts sliderproducts sliderproducts"
    "bestproducts bestproducts bestproducts bestproducts bestproducts bestproducts bestproducts bestproducts";
  justify-content: center;
}

@media (max-width: 1129px) {
  .main-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "currencies carousel carousel"
      "weather carousel carousel"
      "sliderproducts sliderproducts sliderproducts"
      "bestproducts bestproducts bestproducts";
  }
}

@media (max-width: 600px) {
  .mobile-search {
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 30px;
  }

  .main-grid {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "currencies"
      "weather"
      "weather"
      "sliderproducts"
      "bestproducts";
  }
  .carousel {
    display: none;
  }
}
