.progress-center {
  width: 100%;
  margin: 200px 0;
  display: flex;
  justify-content: center;
}
.progress-center .progressLoader {
  width: 140px;
  height: 24px;
  border-radius: 20px;
  color: #aecbeb;
  border: 2px solid;
  position: relative;
}
.progress-center .progressLoader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: p1 1.5s infinite;
}
@keyframes p1 {
  100% {
    inset: 0;
  }
}
