.products-page h2 {
  text-align: center;
  color: #4fa3e2;
  margin: 20px 0;
}

.products-page .cards-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(4, auto);
}

.products-page .cards-grid .products-card {
  margin: 0 auto;
}

@media (max-width: 1129px) {
  .products-page .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

@media (max-width: 600px) {
  .products-page .cards-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}
