.search-form {
  width: 300px;
  height: 40px;
  background: #fff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.search-form input[type="search"] {
  margin: 0;
  height: 40px;
  font-size: 17px;
  border: none;
  float: left;
  width: 85%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: none;
  background: #fff;
  outline: none;
  color: #000;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-form input::placeholder {
  color: #000;
}

.search-form input:focus {
  background: #fff;
}

.search-form button {
  float: left;
  height: 40px;
  width: 15%;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
  background: #fff;
  color: #58b7fd;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .search-form {
    width: 320px;
  }
  .search-form input[type="search"] {
    width: 85%;
  }
}
