.slider-products {
  grid-area: sliderproducts;
  width: 100%;
}

.slider-card {
  margin: 10px 5px;
}

.slider-products h2 {
  color: #4fa3e2;
  text-align: center;
  margin: 20px 0;
}

.slider-card-products {
  margin: 10px auto;
}

@media (max-width: 1129px) {
  .slider-products {
    width: 100%;
    height: 450px;
  }

  .slider-products .slick-slide img {
    border: 5px solid #fff;
    display: block;
    margin: auto;
    height: 300px;
    border-radius: 30px;
  }
}
