input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.App {
  background: linear-gradient(0deg, #2c5c7f, #58b7fd);
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
